<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>index</title>
		<link href="./index.css" rel="stylesheet" />
		<script src="./angular.min.js"></script>
		<script src="./angular-ui-router.min.js"></script>
	    <script src="./app2.js"></script>
	</head>
	<body ng-app="TrialApp" ng-controller="MainController">
		<header>
			<h1>Nav Bar</h1>
		</header>
		
		<nav>
			<h3>Side Bar</h3><br />
			<a ui-sref="1">Page 1</a><br /> 
			<a ui-sref="2">Page 2</a><br />
	
			<button ng-click="goTo()">State Change</button>
		</nav>
		
		<div ui-view>
           
		</div>
		
		<footer>
			Copyright Nobody
		</footer>		
	</body>
</html>