<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="cancel();">
        &times;
    </button>
    <h3 class="modal-title">
        分配角色
    </h3>
</div>
<div class="modal-body">
    <ul style="list-style: none;">
        <li ng-repeat="role in roles track by $index">
            <label>
                <input type="checkbox" class="ace"  ng-model="role.checked"/>
                <span class="lbl"></span>
                <input type="text" ng-model="role.id" style="display: none;">
            </label>
            {{role.roleName}}
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>